// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #E1E7F2 !important;
}

@import '~izitoast/dist/css/iziToast.css';
// @import '~/bootstrap-toggle/css/bootstrap-toggle.css';
@import '~bootstrap-toggle/css/bootstrap2-toggle';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4';

