// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #E1E7F2 !important;
}

.cen {
    position: fixed;
    top: 50%;
    left: 100%;
    right:1;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
.cen .phone {
    // writing-mode:lr-tb;
    padding:4px;
    position: absolute;
    width:139px;;
    transform-origin: 0 0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
  transform: rotate(90deg);
}
.cen .phone i{

    -webkit-transform:rotate(44deg);
    -moz-transform:rotate(44deg);
    -o-transform: rotate(44deg);
    -ms-transform:rotate(44deg);
    transform: rotate(44deg);
    padding:0;
    margin:0;
}

@import '~izitoast/dist/css/iziToast.css';
// @import '~/bootstrap-toggle/css/bootstrap-toggle.css';
@import '~bootstrap-toggle/css/bootstrap2-toggle';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4';

